/* Basic structure */
#main .collapsible, #main .collapsor-lbl {
    display: block;
}

/* Enable collapsibility */
#main .collapsor, #main .collapsible-content {
    display: none;
}
#main .focus-capturer:focus-within .collapsible-content, #main .collapsor:checked ~ .collapsible-content {
    display: block;
}

/* Beautification CSS */
#main .collapsible {
    max-width: 40em;
    border: 1px solid black;
    border-radius: 0.5rem;
    margin: 1rem 0;
}
#main .collapsor-lbl:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
#main .collapsor-lbl {
    text-align: center;
    padding: 0.5rem 1rem;
}
#main .collapsible-content {
    padding: 0.5rem;
    border-top: 1px solid black;
}
